
n_params: 3
n_data: 222

prior:
  module: 'ili.utils'
  class: 'Uniform'
  args:
    low: [0.1, 0.5, 0.6]
    high: [0.5, 0.9, 1.0]

model:
  module: 'ili.inference.pydelfi_wrappers'
  class: 'DelfiWrapper'
  name: 'quijote_pydelfi'
  kwargs:
    nwalkers: 10
  nets:
    - module: 'pydelfi.ndes'
      class: 'ConditionalMaskedAutoregressiveFlow'
      args: 
        n_hiddens: [50,50]
        n_mades: 5
        act_fun: 'tanh'
    
train_args:
  batch_size: 32
  epochs: 100

output_path: 'toy'
