
prior:
  module: 'ili.utils'
  class: 'Uniform'
  args:
    low: [0,0,0]
    high: [1,1,1]

model:
  module: 'sbi.inference'
  class: 'SNPE_C'
  name: "toy_mr"
  nets:
    - model: 'maf'
      hidden_features: 100 
      num_transforms: 2
      signature: "maf_mr"
    - model: 'mdn'
      hidden_features: 50 
      num_components: 4
    
train_args:
  training_batch_size: 32
  learning_rate: 0.001
  num_round: 2

device: 'cpu'
output_path: './toy'
