
n_params: 3
n_data: 10

prior:
  module: 'pydelfi.priors'
  class: 'Uniform'
  args:
    lower: [0,0,0]
    upper: [1,1,1]

model:
  module: 'ili.inference.pydelfi_wrappers'
  class: 'DelfiWrapper'
  str_save: 'toy_pydelfi_'
  kwargs:
    nwalkers: 20
  nets:
    - module: 'pydelfi.ndes'
      class: 'MixtureDensityNetwork'
      args: 
        n_components: 12
        n_hidden: [64,64]
        activations: ['tanh','tanh']
    - module: 'pydelfi.ndes'
      class: 'ConditionalMaskedAutoregressiveFlow'
      args: 
        n_hiddens: [50,50]
        n_mades: 2
        act_fun: 'tanh'
    
train_args:
  batch_size: 32
  epochs: 300

output_path: 'toy'
