backend: 'pydelfi'

meta_path: './toy/tempmeta.pkl'
output_path: 'toy'

metrics:
  single_example:
    module: 'ili.validation.metrics'
    class: 'PlotSinglePosterior'
    args:
      num_samples: 1000
      labels: [ 'Omega_m', 'h', 'sigma_8' ]
