loader:
  module: 'ili.inference.loaders'
  class: 'StaticNumpyLoader'
  args:
    in_dir: 'toy'
    x_file: 'x.npy'
    theta_file: 'theta.npy'

posterior_path: 'toy/posterior.pkl'
output_path: 'toy'

metrics:
  single_example:
    module: 'ili.validation.metrics'
    class: 'PlotSinglePosterior'
    args:
      num_samples: 1000
      labels: ['t1', 't2', 't3']