loader:
  module: 'ili.inference.loaders'
  class: 'SummarizerDatasetLoader'
  args:
    stage: 'train'
    data_dir: '/Users/matthewho/git/ltu-ili/data/quijote'
    summary_root_file: 'tpcf/z_0.50/quijote'
    param_file: 'latin_hypercube_params.txt'
    train_test_split_file: 'quijote_train_test_val.json'
    param_names: ['Omega_m', 'h', 'sigma_8']


prior:
  module: 'sbi.utils'
  class: 'BoxUniform'
  args:
    low: [0.1, 0.5, 0.6]
    high: [0.5, 0.9, 1.0]

model:
  module: 'sbi.inference'
  class: 'SNPE_C'
  args:
    density_estimator: 'maf'

train_args:
  training_batch_size: 32
  learning_rate: 0.001

device: 'cpu'
output_path: 'toy'