# This workflow will install Python dependencies and run tests with a single version of Python

name: unit-tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  sbi_build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -e .[dev]
      - name: Test with pytest
        run: |
          echo "Running sbi tests"
          COVERAGE_FILE=coverage_file_sbi python3 -m coverage run --source=ili -m pytest tests/test_sbi.py
        shell: bash
      - name: Archive sbi code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage_sbi
          path: coverage_file_sbi
        
  pydelfi_build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.6
        uses: actions/setup-python@v3
        with:
          python-version: "3.6"
      - name: Setup MPI
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: 'openmpi'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -e .[dev]
      - name: Test with pytest
        run: |
          echo "Running pydelfi tests"
          COVERAGE_FILE=coverage_file_pydelfi python3 -m coverage run --source=ili -m pytest tests/test_pydelfi.py
        shell: bash
      - name: Archive pydelfi code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage_pydelfi
          path: coverage_file_pydelfi

  lampe_build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -e .[torch]
          pip install coverage pytest
      - name: Test with pytest
        run: |
          echo "Running lampe tests"
          COVERAGE_FILE=coverage_file_lampe python3 -m coverage run --source=ili -m pytest tests/test_lampe.py
        shell: bash
      - name: Archive lampe code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage_lampe
          path: coverage_file_lampe

  combine_tests:
    needs: [sbi_build, pydelfi_build, lampe_build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
      - name: Display structure of downloaded files
        run: ls -aR
      - name: Combine results of unit tests
        run: |
          python -m pip install --upgrade pip
          pip install coverage pytest
          coverage combine coverage_sbi/coverage_file_sbi coverage_pydelfi/coverage_file_pydelfi coverage_lampe/coverage_file_lampe
          coverage xml -o coverage.xml
          coverage report -m
        shell: bash
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ${{ github.workspace }}/coverage.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
